extends ../base.pug
block content

    div(class="room-details")
        include ../../common.blocks/collage/collage.pug
        include ../../common.blocks/details/details.pug
        include ../../common.blocks/booking/booking.pug