extends ../base.pug
block content

    div(class="content__gallery")
        div(class="content__gallery__main")
        div(class="content__gallery__2")
        div(class="content__gallery__3")
    div(class="content__details")
        div(class="content__details__info")
            div(class="content__details__info__title") Сведения о номере
            div(class="content__details__info__comfort")
                div(class="content__details__info__icon") insert_emoticon
                div(class="content__details__info__subtitle") Комфорт
                div(class="content__details__info__content") Шумопоглощающие стены
            div(class="content__details__info__convenience")
                div(class="content__details__info__icon") location_city
                div(class="content__details__info__subtitle") Удобство
                div(class="content__details__info__content") Окно в каждой из спален
            div(class="content__details__info__cosiness")
                div(class="content__details__info__icon") whatshot
                div(class="content__details__info__subtitle") Уют
                div(class="content__details__info__content") Номер оснащён камином
        div(class="content__details__impression")
            div(class="content__details__impression__title") Впечатления от номера
            div(class="content__details__impression__diagramm")
                div(class="content__details__impression__diagramm__body")
                    <svg width="200" height="200" viewBox="0 0 56 56" class="donut">
                        <circle class="donut-hole" cx="17" cy="17" r="15.91549430918954" fill="#fff"></circle>
                        <circle class="donut-ring" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="1.5"></circle>
                        <circle id="magnificently" class="donut-segment magnificently" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="url(#magnificently-gradient)" stroke-width="1.5" stroke-dasharray="0 100" stroke-dashoffset="0"></circle>
                        <circle id="good" class="donut-segment good" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="url(#good-gradient)" stroke-width="1.5" stroke-dasharray="0 100" stroke-dashoffset="0"></circle>
                        <circle id="passably" class="donut-segment passably" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="url(#passably-gradient)" stroke-width="1.5" stroke-dasharray="0 100" stroke-dashoffset="25"></circle>
                        <circle id="bad" class="donut-segment bad" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="url(#bad-gradient)" stroke-width="1.5" stroke-dasharray="0 100" stroke-dashoffset="25"></circle>
                        <circle class="donut-segment magnificently__bufer" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="2" stroke-dasharray="1 99" stroke-dashoffset="25.5"></circle>
                        <circle class="donut-segment good__bufer" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="2" stroke-dasharray="1 99" stroke-dashoffset="25.5"></circle>
                        <circle class="donut-segment passably__bufer" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="2" stroke-dasharray="1 99" stroke-dashoffset="25.5"></circle>
                        <circle class="donut-segment bad__bufer" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="2" stroke-dasharray="1 99" stroke-dashoffset="25.5"></circle>
                        <linearGradient id="magnificently-gradient" gradientTransform="rotate(90)">
                            <stop offset="0%" stop-color="#FFE39C" />
                            <stop offset="100%" stop-color="#FFBA9C" />
                        </linearGradient>
                        <linearGradient id="good-gradient" gradientTransform="rotate(90)">
                            <stop offset="0%" stop-color="#6FCF97" />
                            <stop offset="100%" stop-color="#66D2EA" />
                        </linearGradient>
                        <linearGradient id="passably-gradient" gradientTransform="rotate(90)">
                            <stop offset="0%" stop-color="#BC9CFF" />
                            <stop offset="100%" stop-color="#8BA4F9" />
                        </linearGradient>
                        <linearGradient id="bad-gradient" gradientTransform="rotate(90)">
                            <stop offset="0%" stop-color="#919191" />
                            <stop offset="100%" stop-color="#3D4975" />
                        </linearGradient>
                        <animate id="magnificently__anim" xlink:href="#magnificently" attributeName="stroke-dasharray" from="0 100" dur="2s" fill="freeze" />
                        <animate id="good__anim" xlink:href="#good" attributeName="stroke-dasharray" from="0 100" dur="2s" fill="freeze" />
                        <animate id="passably__anim" xlink:href="#passably" attributeName="stroke-dasharray" from="0 100" dur="2s" fill="freeze" />
                        <animate id="bad__anim" xlink:href="#bad" attributeName="stroke-dasharray" from="0 100" dur="2s" fill="freeze" />
                    </svg>
                div(class="content__details__impression__diagramm__vote")
                    div(class="content__details__impression__diagramm__vote__count") 0
                    div(class="content__details__impression__diagramm__vote__title") голосов
            div(class="content__details__impression__legend")
                ul(class="content__details__impression__legend__list")
                    li(class="content__details__impression__legend__item") Великолепно
                    li(class="content__details__impression__legend__item") Хорошо
                    li(class="content__details__impression__legend__item") Удовлетворительно
                    li(class="content__details__impression__legend__item") Разочарован
        div(class="content__details__reviews")
            div(class="content__details__reviews__title") Отзывы посетителей номера
            div(class="content__details__reviews__count")
            div(class="content__details__reviews__container")
        div(class="content__details__rules")
            div(class="content__details__rules__title") Правила
            ul(class="content__details__rules__list")
                li(class="content__details__rules__list__item") Нельзя с питомцами
                li(class="content__details__rules__list__item") Без вечеринок и мероприятий
                li(class="content__details__rules__list__item") Время прибытия — после 13:00, а выезд до 12:00
        div(class="content__details__cancel")
            div(class="content__details__cancel__title") Отмена
            div(class="content__details__cancel__text") Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    div(class="content__booking")
        div(class="content__booking__number")
        div(class="content__booking__lux")
        div(class="content__booking__price")
        div(class="content__booking__date")
            div(class="content__booking__date__arrive")
                div(class="content__booking__date__title") прибытие
                div(class="content__booking__date__value arrive-date") ДД.ММ.ГГГГ
                div(class="content__booking__arrow") expand_more
            div(class="content__booking__date__departure")
                div(class="content__booking__date__title") выезд
                div(class="content__booking__date__value departure-date") ДД.ММ.ГГГГ
                div(class="content__booking__arrow") expand_more
        div(class="content__booking__calendar calendar-parent")
            div(id="days")
                table
                    thead
                        tr
                            th Пн
                            th Вт
                            th Ср
                            th Чт
                            th Пт
                            th Сб
                            th Вс
                    tbody(class="body" data-dot1="" data-dot2="")
            div(class="info") Август
            i(class="material-icons arrow-back") arrow_back
            i(class="material-icons arrow-forward") arrow_forward
            span(class="clear") очистить
            span(class="apply") применить
        div(class="content__booking__guests")
            div(class="content__booking__guests__title") гости
            div(class="content__booking__guests__value content__guests__title") Сколько гостей
            div(class="content__booking__arrow") expand_more
        div(class="content__booking__guests-dropdown")
            div(class="guests-dropdown")
                div(class="guests-adult")
                    div(class="guests-note") взрослые
                    div(id="guests-adult-plus" class="guests-plus") +
                    div(id="guests-adult" class="guests-count") 2
                    div(id="guests-adult-minus" class="guests-minus") -
                div(class="guests-children")
                    div(class="guests-note") дети
                    div(id="guests-children-plus" class="guests-plus") +
                    div(id="guests-children" class="guests-count") 0
                    div(id="guests-children-minus" class="guests-minus") -
                div(class="guests-babies")
                    div(class="guests-note") младенцы
                    div(id="guests-babies-plus" class="guests-plus") +
                    div(id="guests-babies" class="guests-count") 0
                    div(id="guests-babies-minus" class="guests-minus") -
                span(class="guests-clear") очистить
                span(class="guests-apply") применить
        div(class="content__booking__calculator")
            div(class="content__booking__calculator__main")
                div(class="content__booking__calculator__value") 1000x3
                div(class="content__booking__calculator__separator")
                div(class="content__booking__calculator__price") 3000
            div(class="content__booking__calculator__fee")
                div(class="content__booking__calculator__value") сбор за услуги
                div(class="content__booking__calculator__separator")
                div(class="content__booking__calculator__price") 0
            div(class="content__booking__calculator__extrafee")
                div(class="content__booking__calculator__value") сбор за доп. услуги
                div(class="content__booking__calculator__separator")
                div(class="content__booking__calculator__price") 0
            div(class="content__booking__calculator__total")
                div(class="content__booking__calculator__value") Итого
                div(class="content__booking__calculator__separator")
                div(class="content__booking__calculator__price") 000
        div(class="content__booking__button") забронировать
            div(class="content__booking__button__arrow material-icons") arrow_forward