style
    include ./booking.css
    include ./__date-picker/__date-picker.css

div(class="booking")
    div(class="content__booking__number")
    div(class="content__booking__lux")
    div(class="content__booking__price")
    .booking__date-picker
        include ../../common.blocks/date-picker/date-picker.pug
    include ../../common.blocks/calendar/calendar.pug
    div(class="content__booking__guests")
        div(class="content__booking__guests__title") гости
        div(class="content__booking__guests__value content__guests__title") Сколько гостей
        div(class="content__booking__arrow") expand_more
    div(class="content__booking__guests-dropdown")
        div(class="guests-dropdown")
            div(class="guests-adult")
                div(class="guests-note") взрослые
                div(id="guests-adult-plus" class="guests-plus") +
                div(id="guests-adult" class="guests-count") 2
                div(id="guests-adult-minus" class="guests-minus") -
            div(class="guests-children")
                div(class="guests-note") дети
                div(id="guests-children-plus" class="guests-plus") +
                div(id="guests-children" class="guests-count") 0
                div(id="guests-children-minus" class="guests-minus") -
            div(class="guests-babies")
                div(class="guests-note") младенцы
                div(id="guests-babies-plus" class="guests-plus") +
                div(id="guests-babies" class="guests-count") 0
                div(id="guests-babies-minus" class="guests-minus") -
            span(class="guests-clear") очистить
            span(class="guests-apply") применить
    div(class="content__booking__calculator")
        div(class="content__booking__calculator__main")
            div(class="content__booking__calculator__value") 1000x3
            div(class="content__booking__calculator__separator")
            div(class="content__booking__calculator__price") 3000
        div(class="content__booking__calculator__fee")
            div(class="content__booking__calculator__value") сбор за услуги
            div(class="content__booking__calculator__separator")
            div(class="content__booking__calculator__price") 0
        div(class="content__booking__calculator__extrafee")
            div(class="content__booking__calculator__value") сбор за доп. услуги
            div(class="content__booking__calculator__separator")
            div(class="content__booking__calculator__price") 0
        div(class="content__booking__calculator__total")
            div(class="content__booking__calculator__value") Итого
            div(class="content__booking__calculator__separator")
            div(class="content__booking__calculator__price") 000
    div(class="content__booking__button") забронировать
        div(class="content__booking__button__arrow material-icons") arrow_forward