style
    include ./room-info.css

div(class="room-info")
        div(class="content__details__info__title") Сведения о номере
        div(class="content__details__info__comfort")
            div(class="content__details__info__icon") insert_emoticon
            div(class="content__details__info__subtitle") Комфорт
            div(class="content__details__info__content") Шумопоглощающие стены
        div(class="content__details__info__convenience")
            div(class="content__details__info__icon") location_city
            div(class="content__details__info__subtitle") Удобство
            div(class="content__details__info__content") Окно в каждой из спален
        div(class="content__details__info__cosiness")
            div(class="content__details__info__icon") whatshot
            div(class="content__details__info__subtitle") Уют
            div(class="content__details__info__content") Номер оснащён камином