style
    include ./cancel-conditions.css

div(class="cancel-conditions")
        div(class="content__details__cancel__title") Отмена
        div(class="content__details__cancel__text") Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.