.registration {
    position: absolute;
    display: none;
    width: 380px;
    height: 646px;
    left: 530px;
    top: 89px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.registration__button-container {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 30px;
    top: 498px;
}

.registration__login {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 30px;
    top: 572px;
}

.registration__login__button {
    float: right;
    width: 99px;
    height: 44px;
    
}

.registration__login__note {
    position: absolute;
    width: 186px;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.registration__mailing {
    position: absolute;
    width: 290px;
    height: 24px;
    left: 30px;
    top: 454px;
}

.registration__mailing__title {
    position: absolute;
    width: 210px;
    height: 24px;
    left: 50px;
    top: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.registration__mailing__switcher {
    width: 40px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

.registration__mailing__switcher__active {
    border: 1px solid #BC9CFF;
}

    .registration__mailing__switcher__active div {
        float: right;
        background: #BC9CFF;
    }

.registration__mailing__switcher__round {
    width: 12px;
    height: 12px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
}

.registration__addData {
    position: absolute;
    width: 320px;
    height: 118px;
    left: 30px;
    top: 326px;
}

.registration__birthday {
    position: absolute;
    width: 320px;
    height: 64px;
    left: 30px;
    top: 242px;
}

.registration__name {
    position: relative;
    width: 320px;
    height: 103px;
    left: 30px;
    top: 90px;
}

.registration__sex {
    position: absolute;
    width: 220.74px;
    height: 24.44px;
    left: 30px;
    top: 198px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}

.registration__sex__checked {
    color: rgba(31, 32, 65, 0.75);
}

    .registration__sex__checked .registration__sex__check-box {
        border: 1px solid #BC9CFF;
    }

        .registration__sex__checked .registration__sex__check-box div {
            display: block;
        }

.registration__sex__value {
    position: absolute;
    top: 0;
    margin: 0 30px;
    height: 24.44px;
    line-height: 24px;
    display: inline-block;
}

.registration__sex__check-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.registration__sex__check-box__marker {
    display: none;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;
}

.registration__sex__male {
    float: left;
    width: 98px;
}

.registration__sex__female{
    width: 102.74px;
    float: right;
}

.registration__title {
    position: absolute;
    width: 320px;
    height: 30px;
    left: 30px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

input::-moz-placeholder {
    color: rgba(31, 32, 65, 0.25);
}

input::-webkit-input-placeholder {
    color: rgba(31, 32, 65, 0.25);
}
