
.header {
	flex: 1 0 auto;
	width: 1440px;
	height: 70px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}

.header__logo {
	position: relative;
	left: 140px;
	top: 15px;
	float: left;
}

.header__menu {
	position: relative;
	top: 26px;
	float: left;
	margin-left: 285px;
}

.header__login-button {
	position: relative;
	float: left;
	top: 18px;
	margin-left: 20px;
}

.header__registration-button {
	position: relative;
	display: inline-block;
	top: 18px;
	float: left;
	margin-left: 20px;
}

.registration-button {
	width: 196px;
	height: 34px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 34px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}



.item__expand-more {
	display: inline-block;
	float: right;
}

.expand-more {
	width: 24px;
	height: 21px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}