style
    include ./registration.css
    include ./__surname-input/__surname-input.css
    include ./__name-input/__name-input.css
    include ./__email-input/__email-input.css
    include ./__pass-input/__pass-input.css
    include ./__date-input/__date-input.css
    include ./__sex-radio/__sex-radio.css

include ../item/item.pug 
include ../input/input.pug
include ../sex-radio/sex-radio.pug

div(class="registration")
    div(class="registration__title")
        +item('Регистрация аккаунта', false, 'item__form-title')
    div(class="registration__name")
        +input("Фамилия", "text")(class='registration__surname-input')
        +input("Имя", "text")(class='registration__name-input')
    +sex-radio("Мужчина", "Женщина")(class="registration__sex-radio")
    div(class="registration__birthday")
        +item('дата рождения', false, 'item__title')
        +input("Email", "date")(class='registration__date-input')
    div(class="registration__addData")
        +item('данные для входа в сервис', false, 'item__title')
        +input("Email", "text")(class='registration__email-input')
        +input("Пароль", "text")(class='registration__pass-input')
    div(class="registration__mailing")
        div(class="registration__mailing__switcher")
            div(class="registration__mailing__switcher__round")
        div(class="registration__mailing__title") Получать спецпредложения
    div(class="registration__button-container")
        div(class="go-button") зарегистрироваться
            div(class="go-button__arrow material-icons") arrow_forward
    div(class="registration__login")
        div(class="registration__login__note") Уже есть аккаунт на Toxin
        div(class="registration__login__button")
            div(class="login-button")
                div(class="login-button__background login-event") войти