.footer-menu-column__item4{
	position: absolute;
	width: 149px;
	height: 18px;
	top: 151px;
}

.footer-menu-column__item3{
	position: absolute;
	width: 149px;
	height: 18px;
	top: 113px;
}

.footer-menu-column__item2{
	position: absolute;
	width: 149px;
	height: 18px;
	top: 75px;
}

.footer-menu-column__item1{
	position: absolute;
	width: 149px;
	height: 18px;
	top: 37px;
}

.footer-menu-column__title{
	position: absolute;
	width: 149px;
	height: 15px;
}