style
    include ./room-rules.css

div(class="room-rules")
    div(class="content__details__rules__title") Правила
    ul(class="content__details__rules__list")
        li(class="content__details__rules__list__item") Нельзя с питомцами
        li(class="content__details__rules__list__item") Без вечеринок и мероприятий
        li(class="content__details__rules__list__item") Время прибытия — после 13:00, а выезд до 12:00