extends ../base.pug
block content

    .content__container
        .content__search
            .content__search__slogan Найдём номера под ваши пожелания
            include ../../common.blocks/search/search.pug
            .content__search__button
                .go-button подобрать номер
                    .go-button__arrow 
                        .material-icons arrow_forward
        .content__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения

