<!-- Perchatkin Nick perchatkinnick@mail.ru -->
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
doctype html
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--[if lt IE 9]> 
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->
html 
    head 
    meta(charset="utf-8")
    title Toxin
    body 
        div(class='wrapper')
            header(class="header")
                div(class="logo header__logo")
                    a(href="index.html")
                        div(class="logo__round-gradient")
                        div(class="logo__round-background")
                        div(class="logo__vector1")
                        div(class="logo__vector2")
                        div(class="logo__title")

