style
    include ./details.css

div(class="details")
    include ../../common.blocks/room-info/room-info.pug
    include ../../common.blocks/impression/impression.pug
    include ../../common.blocks/reviews/reviews.pug
    include ../../common.blocks/room-rules/room-rules.pug
    include ../../common.blocks/cancel-conditions/cancel-conditions.pug