style
    include ./reviews.css

div(class="reviews")
    div(class="content__details__reviews__title") Отзывы посетителей номера
    div(class="content__details__reviews__count")
    div(class="content__details__reviews__container")