.sex-radio {
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}

.registration__sex__checked {
    color: rgba(31, 32, 65, 0.75);
}

    .registration__sex__checked .registration__sex__check-box {
        border: 1px solid #BC9CFF;
    }

        .registration__sex__checked .registration__sex__check-box div {
            display: block;
        }

.registration__sex__value {
    position: absolute;
    top: 0;
    margin: 0 30px;
    height: 24.44px;
    line-height: 24px;
    display: inline-block;
}

.registration__sex__check-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.registration__sex__check-box__marker {
    display: none;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;
}

.registration__sex__male {
    float: left;
    width: 98px;
}

.registration__sex__female{
    width: 102.74px;
    float: right;
}