style
    include ./calendar.css

.calendar-parent
    div(id="days")
        table
            thead
                tr
                    th Пн
                    th Вт
                    th Ср
                    th Чт
                    th Пт
                    th Сб
                    th Вс

            tbody(class="body" data-dot1="" data-dot2="")            
    div(class="info") Август
    i(class="material-icons arrow-back") arrow_back
    i(class="material-icons arrow-forward") arrow_forward
    span(class="clear") очистить
    span(class="apply") применить