style
    include ./header.css

header(class="header")

    include ./__logo/__logo.pug

    include ./__menu/__menu.pug

    include ./__login-button/__login-button.pug

    include ./__registration-button/__registration-button.pug