style
    include ./logo.css

div(class="logo")
    a(href="index.html")
        include __round-gradient/__round-gradient.pug
        include __round-background/__round-background.pug
        include __vector/__vector.pug
        include __vector2/__vector2.pug
        include __title/__title.pug