style
    include ./item.css
    include ./__title/__title.css
    include ./__form-title/__form-title.css

mixin item(content, isExpand, style)
    div(class=`item ${style}`) #{content}
        if(isExpand) 
            include ./__expand-more/__expand-more.pug 

