style
    include ./__subscription.css

div(class="footer__subscription")
    +item('подписка', false, true)
    +description('Получайте специальные предложения и новости сервиса')(class="footer__description2")
    input(class="input" type="text" placeholder="Email" style="width: 260px; color: rgba(31, 32, 65, 0.25);")
    div(class="footer_subscription_arrow") arrow_forward