
.footer {
	position: relative;
	width: 1440px;
	height: 443px;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
	flex: 0 0 auto;
	border-color: #E5E5E5 white white;
	border-style: solid;
	border-width: 1px 0 0;
}

.footer__description1{
	position: absolute;
	width: 260px;
	left: 140px;
	top: 157px;
}

.footer__description2{
	position: absolute;
	width: 260px;
	height: 48px;
	top: 33px;
}

.footer__navigation{
	position: relative;
	width: 143px;
	height: 168px;
	left: 440px;
	top: 64px;
}

input {
	position: absolute;
	top: 104px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(31, 32, 65, 0.25);
	border: none;
	outline: none;
	padding-bottom: 50px;
}

	input::-webkit-input-placeholder {
		color: rgba(31, 32, 65, 0.25);
	}

	input::-moz-placeholder {
		color: rgba(31, 32, 65, 0.25);
	}
/* Firefox 19+ */
	input:-moz-placeholder {
		color: rgba(31, 32, 65, 0.25);
	}
/* Firefox 18- */
	input:-ms-input-placeholder {
		color: rgba(31, 32, 65, 0.25);
	}

.footer_subscription_arrow {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 226.5px;
	top: 104px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #BC9CFF;
}

.footer__support{
	position: absolute;
	width: 149px;
	height: 130px;
	left: 840px;
	top: 104px;
}

.footer__about{
	position: absolute ;
	width: 108px;
	height: 168px;
	left: 640px;
	top: 104px;
}