html {
    height: 100%;
}

body {
    position: relative;
    width: 1440px;
    height: 100%;
    background: #E5E5E5;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    background: #FFFFFF;
    box-shadow: inset 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.content__container{

    width: 100%;
    height: 752px;
    top: -80px;
    background: no-repeat url(../media/images/bgrd_login.png);
}

.content__container__login {
    position: absolute;
    width: 380px;
    height: 358px;
    left: 530px;
    top: 242px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


