
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf'), url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    position: relative;
    width: 1440px;
    height: 100%;
    background: #E5E5E5;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    background: #FFFFFF;
}

.content__show__page-navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 241px;
    height: 40.44px;
    left: 350px;
    top: 1212px;
}

.content__show__page-navigation__marker__forward {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.content__show__page-navigation__marker {
    width: 40px;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
}

.content__show__page-navigation__marker__active {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #ffffff;
}

.content__show__variants {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 241px;
    height: 24px;
    left: 355px;
    top: 1263px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.content__room-settings {
    float: left;
    width: 406px;
    height: 1356px;
}

.content__room-settings__additional {
    position: absolute;
    width: 266px;
    height: 44px;
    left: 140px;
    top: 795px;
}

.content__room-settings__additional__list{
    display: none;
}

.content__room-settings__additional__breakfast {
    position: absolute;
    width: 88.74px;
    height: 20px;
    top: 29px;
}

.content__room-settings__additional__desk {
    position: absolute;
    width: 88.74px;
    height: 20px;
    top: 59px;
}

.content__room-settings__additional__feeding-chair {
    position: absolute;
    width: 88.74px;
    height: 20px;
    top: 89px;
}

.content__room-settings__additional__crib {
    position: absolute;
    width: 88.74px;
    height: 20px;
    top: 119px;
}

.content__room-settings__additional__tv {
    position: absolute;
    width: 88.74px;
    height: 20px;
    top: 149px;
}

.content__room-settings__additional__shampoo {
    position: absolute;
    width: 88.74px;
    height: 20px;
    top: 179px;
}

.content__room-settings__additional__elem__title {
    position: absolute;
    width: 190px;
    height: 18px;
    left: 29.74px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.content__room-settings__additional__arrow {
    position: absolute;
    width: 44px;
    height: 20px;
    left: 222px;
    background-image: url('../media/svg/arrowUp.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .content__room-settings__additional__arrow:not([data-checked = 'checked']) {
        position: absolute;
        width: 44px;
        height: 20px;
        left: 222px;
        background-image: url('../media/svg/expand_more.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

.content__room-settings__additional__title {
    position: absolute;
    width: 209px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__room-settings__facilities {
    position: absolute;
    width: 266px;
    height: 64px;
    left: 140px;
    top: 715.44px;
}

.content__room-settings__facilities__dropdown {
    position: absolute;
    display: block;
    width: 266px;
    height: 119px;
    top: 777.76px;
    left: 140px;
}

.content__room-settings__facilities__arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 222px;
    top: 20.44px;
    background-image: url('../media/svg/expand_more.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.content__room-settings__facilities__title {
    position: absolute;
    width: 210px;
    height: 24px;
    left: 15px;
    top: 27.44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
}

.content__room-settings__facilities__rect {
    position: absolute;
    width: 266px;
    height: 44px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.content__room-settings__facilities__label {
    position: absolute;
    width: 133px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__room-settings__availability {
    position: absolute;
    width: 266px;
    height: 145px;
    left: 140px;
    top: 540px;
}

.content__room-settings__availability__disabled {
    position: absolute;
    width: 266px;
    height: 52px;
    top: 93px;
}
.content__room-settings__availability__disabled__note {
    position: absolute;
    width: 236px;
    height: 28px;
    left: 30px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
}

.content__room-settings__availability__disabled__title {
    position: absolute;
    width: 203px;
    height: 18px;
    left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}

.content__room-settings__availability__hallway__note {
    position: absolute;
    width: 203px;
    height: 28px;
    left: 30px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
}

.content__room-settings__availability__hallway__title {
    position: absolute;
    width: 144px;
    height: 18px;
    left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}

.content__room-settings__availability__hallway {
    position: absolute;
    width: 233px;
    height: 52px;
    top: 31px;
}

.content__room-settings__availability__title {
    position: absolute;
    width: 100px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__home-rules {
    position: absolute;
    width: 222px;
    height: 129.12px;
    left: 140px;
    top: 380px;
}

.content__home-rules__guests {
    position: absolute;
    width: 222px;
    top: 92.12px;
}

.content__home-rules__guests__title {
    position: absolute;
    width: 192px;
    height: 36px;
    left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.content__home-rules__pets {
    position: absolute;
    width: 181px;
    height: 20px;
    top: 62.12px;
}

.content__home-rules__pets__title {
    position: absolute;
    width: 151px;
    height: 18px;
    left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.content__home-rules__smoke {
    position: absolute;
    width: 134.74px;
    height: 20px;
    top: 31.56px;
}

.content__home-rules__checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url('../media/svg/vector3.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .content__home-rules__checkbox:not([data-checked = 'checked']) {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
    }

.content__home-rules__smoke__title {
    position: absolute;
    width: 105px;
    height: 18px;
    left: 29.74px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.content__home-rules__title {
    position: absolute;
    width: 110px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__guests__dropdown{
    position: relative;
    top: 211px;
    left: 140px;
}

.calendar-parent {
    position: absolute;
    display: none;
    width: 320px;
    height: 369px;
    top: 163px;
    left: 140px;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background: white;
    z-index: 100;
}

.content__date {
    position: absolute;
    width: 266px;
    height: 65px;
    left: 140px;
    top: 100px;
}

.content__date__label {
    position: absolute;
    width: 197px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__date__rect {
    position: absolute;
    width: 266px;
    height: 44px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.content__date__title {
    position: absolute;
    width: 150px;
    height: 24px;
    left: 15px;
    top: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
}

.content__date__arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 222px;
    top: 21px;
    background-image: url('../media/svg/expand_more.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.content__guests {
    position: absolute;
    width: 266px;
    height: 63.56px;
    left: 140px;
    top: 184.44px;
}

.content__guests__label {
    position: absolute;
    width: 43px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__guests__rect {
    position: absolute;
    width: 266px;
    height: 44px;
    top: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.content__guests__title {
    position: absolute;
    width: 210px;
    height: 24px;
    left: 15px;
    top: 32.44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
}

.content__guests__arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 222px;
    top: 20px;
    background-image: url('../media/svg/expand_more.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.content__price-range {
    position: absolute;
    width: 266px;
    height: 72px;
    left: 140px;
    top: 278px;
}

.content__price-range__label {
    position: absolute;
    width: 121px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.content__price-range__value {
    position: absolute;
    width: 102px;
    height: 15px;
    left: 164px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
}

.content__price-range__range {
    position: absolute;
    width: 266px;
    height: 12px;
    top: 35.44px;
}

.content__price-range__remark {
    position: absolute;
    width: 264px;
    height: 14px;
    top: 58px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
}

.slider {
    width: 80%;
    height: 5px;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 50px;
    margin-left: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
}

    .slider .bar {
        position: absolute;
        left: 50px;
        width: 266px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 3px;
        height: 100%;
    }

        .slider .bar .lp span {
            position: relative;
            left: -30px;
        }

        .slider .bar .rp span {
            position: relative;
            left: 10px;
        }

        .slider .bar .lp, .slider .bar .rp {
            cursor: pointer;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border: 2px solid #FFFFFF;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            position: absolute;
            line-height: 400%;
            color: red;
            user-select: none;
        }

        .slider .bar .lp {
            left: 0px;
            top: -7px;
        }

        .slider .bar .rp {
            left: 99%;
            top: -7px;
        }
