@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('ttf'), 
		 url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf') format('ttf'),
	     url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
	position: relative;
	width: 1440px;
	height: 1343px;
	background: #E5E5E5;
	margin: 0 auto;
}

header{
	position: relative ;
}

.content {
	position: relative;
}

.calendar-parent {
	position: absolute;
	display: none;
	width: 320px;
	height: 369px;
	top: 330px;
	left: 170px;
	border-radius: 4px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	background: white;
	z-index: 100;
}

.guests__dropdown__container {
	position: relative;
	left: 170px;
	top: 409px;
}

.footer {
	position: relative;
}

.footer-navigation{
	position: relative;
	width: 143px;
	height: 168px;
	left: 440px;
	top: 964px;
}

.footer-logo{
	position:relative ;
	left: 140px;
	top: 1000px;

}

.footer-slogan{
	/* Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды» */


	position: absolute;
	width: 260px;
	height: 72px;
	left: 140px;
	top: 1060px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	
	
	/* Dark 75% */
	
	color: rgba(31, 32, 65, 0.75);
}

.footer_subscription{
	position: absolute;
	width: 260px;
	height: 84px;
	left: 1040px;
	top: 1004px;
}

input{
	position: absolute;
	width: 200px;
	height: 24px;
	left: 1px;
	top: 115px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */
	
	
	/* Dark 25% */
	
	color: rgba(31, 32, 65, 0.25);
	border: none;
	outline:none;
}

.footer_subscription_arrow{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 216px;
	top: 108px;
	
	/*font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	
	 Primary Gradient 
	
	color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);*/
	
	background-image: url('../media/svg/arrow_forward_colored.svg');
	background-position: center;
	background-repeat: no-repeat;

}

.footer_subscription_rect{
	position: absolute;
	width: 260px;
	height: 44px;
	top: 108px;
	
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
}

.footer_subscription_notation{
	position: absolute;
	width: 260px;
	height: 48px;
	top: 40px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	
	
	/* Dark 75% */
	
	color: rgba(31, 32, 65, 0.75);
	
}

.footer_subscription_title{
	position: absolute;
	width: 76px;
	height: 15px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.footer_support{
	position: absolute;
	width: 149px;
	height: 130px;
	left: 840px;
	top: 1004px;
}

.footer_support_connection{
	position: absolute;
	width: 96px;
	height: 18px;
	top: 116px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_support_communities{
	position: absolute;
	width: 90px;
	height: 18px;
	top: 78px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_support_agreements{
	position: absolute;
	width: 92px;
	height: 18px;
	top: 40px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_support_title{
	position: absolute;
	width: 149px;
	height: 15px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.footer_about{
	position: absolute ;
	width: 108px;
	height: 168px;
	left: 640px;
	top: 1004px;
}

.footer_about_investors{
	
	position: absolute;
	width: 82px;
	height: 18px;
	top: 154px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_about_vacancies{
	position: absolute;
	width: 72px;
	height: 18px;
	top: 116px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_about_title{
	position: absolute;
	width: 42px;
	height: 15px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.footer_about_team{
	position: absolute;
	width: 108px;
	height: 18px;
	top: 78px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_about_about{
	position: absolute;
	width: 77px;
	height: 18px;
	top: 40px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_navigation_services{
	position: absolute;
	width: 50px;
	height: 18px;
	top: 154px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_navigation_support{
	position: absolute;
	width: 143px;
	height: 18px;
	top: 116px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_navigation_news{
	position: absolute;
	width: 62px;
	height: 18px;
	top: 78px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_navigation_about{
	position: absolute;
	width: 42px;
	height: 18px;
	
	top: 40px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.footer_navigation_title{
	position: absolute;
	width: 83px;
	height: 15px;
		
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.arrow-forward{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 446px;
	top: 440px;
	
	/*font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #FFFFFF;*/
	
	background-image: url('../media/svg/arrow_forward.svg');
	background-position: center;
	background-repeat: no-repeat;

}

.search-button {
	position: absolute;
	width: 320px;
	height: 44px;
	left: 170px;
	top: 440px;
	/* Primary Gradient */
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 44px;
	/* identical to box height */
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}

.guests-form{
	position: relative ;
}

.guests-arrow {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 445.74px;
	top: 365.56px;
	/*font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	
	 Dark 50% 
	
	color: rgba(31, 32, 65, 0.5);*/
	background-image: url('../media/svg/expand_more.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.guests-title {
	position: absolute;
	width: 112px;
	height: 18px;
	left: 185px;
	top: 378px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height, or 129% */
	/* Dark 75% */
	color: rgba(31, 32, 65, 0.75);
	cursor: pointer;
}

.guests-rect {
	position: absolute;
	width: 320px;
	height: 44px;
	left: 170px;
	top: 365px;
	background: #FFFFFF;
	/* Dark 25% */
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}

.guests{
	position: absolute;
	width: 43px;
	height: 15px;
	left: 170px;
	top: 345px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.departure-form{
	position: relative ;
}

.departure{
	position: absolute;
	width: 83px;
	height: 15px;
	left: 340px;
	top: 260px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.departure-rect {
	position: absolute;
	width: 150px;
	height: 44px;
	left: 340px;
	top: 280.44px;
	background: #FFFFFF;
	/* Dark 25% */
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}

.departure-date {
	position: absolute;
	width: 103px;
	height: 24px;
	left: 355px;
	top: 292px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* or 129% */
	/* Dark 75% */
	color: rgba(31, 32, 65, 0.75);
	cursor: pointer;
}

.departure-arrow {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 446px;
	top: 281px;
	/*font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	
	 Dark 50% 
	
	color: rgba(31, 32, 65, 0.5);*/
	background-image: url('../media/svg/expand_more.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.arrive-form {
	position: relative;
	
}
	



.arrive{
	position: absolute;
	width: 83px;
	height: 15px;
	left: 170px;
	top: 260px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
}

.arrive-rect {
	position: absolute;
	width: 150px;
	height: 44px;
	left: 170px;
	top: 280.44px;
	background: #FFFFFF;
	/* Dark 25% */
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}

.arrive-date {
	position: absolute;
	width: 103px;
	height: 24px;
	left: 185px;
	top: 292px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* or 129% */
	/* Dark 75% */
	color: rgba(31, 32, 65, 0.75);
	cursor: pointer;
}


.registration-button {
	position: absolute;
	width: 196px;
	height: 34px;
	left: 1104px;
	top: 18px;
	/* Primary Gradient */
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
}

.arrive-arrow {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 276px;
	top: 281px;
	/*font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	
	 Dark 50% 
	
	color: rgba(31, 32, 65, 0.5);*/
	background-image: url('../media/svg/expand_more.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.registration{
	position: absolute;
	width: 157px;
	height: 15px;
	left: 1123px;
	top: 27px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	color: #FFFFFF;

}

.expand-services{
	position: absolute;
	width: 24px;
	height: 21px;
	left: 643px;
	top: 25px;
	
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
	background-image: url('../media/svg/expand_more.svg');
	background-position: center;
	background-repeat: no-repeat;
		
	}

.login{
	position: absolute;
	width: 47px;
	height: 15px;
	left: 1017px;
	top: 27px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Primary Color */
	
	color: #BC9CFF;
	
}

.login-button-border{
	position: absolute;
	width: 87px;
	height: 34px;
	left: 995px;
	top: 16px;
	
	border-radius: 22px;	
	background: linear-gradient(to right, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
	
	padding: 2px;
}

.login-button-background{
	
	width: 83px;
	height: 30px;
	
	border-radius: 22px;

	background: white;
	
	padding: 2px;
}
	
.expand-agreements{
	position: absolute;
	width: 24px;
	height: 21px;
	left: 953px;
	top: 25px;
	
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
	background-image: url('../media/svg/expand_more.svg');
	background-position: center;
	background-repeat: no-repeat;

}

.agreements{
	position: absolute;
	width: 92px;
	height: 18px;
	left: 861px;
	top: 26px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.news{
	position: absolute;
	width: 62px;
	height: 18px;
	left: 779px;
	top: 26px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.vacancies{
	position: absolute;
	width: 72px;
	height: 18px;
	left: 687px;
	top: 26px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.services{
	position: absolute;
	width: 50px;
	height: 18px;
	left: 593px;
	top: 26px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.about{
	position: absolute;
	width: 42px;
	height: 18px;
	left: 531px;
	top: 26px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
}

.header-logo{
	position: relative;

	left: 140px;
	top: 15px;
}

.logo{
	position: relative;
	width: 105.69px;
	height: 40px;
		
	
}

.title{
	position: absolute;
	width: 53.9px;
	height: 13.5px;
	left: 51.79px;
	top: 13.25px;
	
	background-image: url('../media/svg/toxin.svg');
	/* Dark 100% 
	
	background: #1F2041;*/
}

.vector2{
	position: absolute;
	width: 9.12px;
	height: 5.91px;
	left: 21.47px;
	top: 15.29px;
	
	background-image: url('../media/svg/vector2.svg');
	
	/* Secondary Gradient 
	
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	
	border-top: 3px solid #6FCF97 ;
    border-radius: 360px 0 0 0;
    float: left;
    height: 11px;
    padding-top: 1px;
    width: 11px;*/

}

.vector1{
	position: absolute;
	width: 11.76px;
	height: 11.76px;
	left: 9.41px;
	top: 15.29px;
	
	background-image: url('../media/svg/vector.svg');
	
	/* Primary Gradient 
	
	border-top: 3px solid #BC9CFF ;
    border-radius: 0 360px 0 0;
    border-right: 3px solid #BC9CFF;
    float: left;
    
    padding-top: 1px;*/
    
    
}

.round-gradient{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	
	/* Primary Gradient */
	
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	
	border-radius: 100px;
    /*border: 3px solid #8BA4F9;
    
    background-image: radial-gradient(circle, transparent, transparent 60%, #BC9CFF 0%, #8BA4F9 100%);*/
}

.round-background{
	position: absolute;
	width: 34px;
	height: 34px;
	left: 3px;
	top: 3px;
	background:white;
	border-radius: 100%;

}

.rectangle {
	position: absolute;
	width: 1440px;
	height: 70px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	}
	
.search{
	position: relative ;
}
	
.search-slogan{
	position: absolute;
	width: 320px;
	height: 59px;
	left: 170px;
	top: 180px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	
	/* Dark 100% */
	
	color: #1F2041;
	z-index: 10000;
}
	
.footer-rectangle{
	position: absolute;
	width: 1440px;
	height: 372px;
	left: 0px;
	top: 900px;
	
	background: #FFFFFF;
	box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}


.copyrightbar-rectangle{
	position: absolute;
	width: 1440px;
	height: 70px;
	top: 1273px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.copyrightbar_copiright{
	position: absolute;
	width: 367px;
	height: 18px;
	left: 139px;
	top: 1299px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 75% */
	
	color: rgba(31, 32, 65, 0.75);
}

.insta{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1275px;
	top: 1296px;
}

i.fab.fa-instagram{
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 23px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Primary Gradient */
	
	color: #BC9CFF;
}

.facebook{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1231px;
	top: 1296px;
}

i.fab.fa-facebook-square{
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 23px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Primary Gradient */
	
	color: #BC9CFF;
}

.twitter{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1187px;
	top: 1296px;

}

i.fab.fa-twitter{
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 23px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Primary Gradient */
	
	color: #BC9CFF ;
}

.search-rectangle{
	position: absolute;
	width: 380px;
	height: 374px;
	left: 140px;
	top: 140px;
	
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.image{
	display: block;
	position: absolute;
	width: 1600px;
	height: 900px;
	
	background:  no-repeat url(../media/images/bgrd.png);
}

.slogan {
	/* Лучшие номера для вашей работы, отдыха и просто вдохновения */


	position: absolute;
	width: 297px;
	height: 48px;
	left: 1009px;
	top: 834px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13.7px;
	line-height: 24px; /* or 171% */;
	text-align: right; /* Dark 75% */;
	color: rgba(31, 32, 65, 0.75);
}

.header {
	/* Standard Nav Bar */


	position: relative;
	width: 1440px;
	height: 70px;
	left: 0px;
	top: 0px;
}
