
header {
	flex: 1 0 auto;
	width: 1440px;
	height: 70px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__logo {
	position: relative;
	left: 140px;
	top: 15px;
	width: 105.69px;
	height: 40px;
}

.header__logo__round-gradient {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 100px;
}

.header__logo__round-background {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 3px;
	top: 3px;
	background: white;
	border-radius: 100%;
}

.header__logo__vector1 {
	position: absolute;
	width: 11.76px;
	height: 11.76px;
	left: 9.41px;
	top: 15.29px;
	background-image: url('../media/svg/vector.svg');
}

.header__logo__vector2 {
	position: absolute;
	width: 9.12px;
	height: 5.91px;
	left: 21.47px;
	top: 15.29px;
	background-image: url('../media/svg/vector2.svg');
}

.header__logo__title {
	position: absolute;
	width: 53.9px;
	height: 13.5px;
	left: 51.79px;
	top: 13.25px;
	background-image: url('../media/svg/toxin.svg');
}

.header__registration {
	position: absolute;
	width: 196px;
	height: 34px;
	left: 1104px;
	top: 18px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

.header__login {
	position: absolute;
	width: 87px;
	height: 34px;
	left: 995px;
	top: 16px;
	border-radius: 22px;
	background: linear-gradient(to right, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
	padding: 2px;
}

.header__login__background {
	width: 83px;
	height: 30px;
	border-radius: 22px;
	background: white;
	padding: 2px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #BC9CFF;
	cursor: pointer;
}

.expand-more {
	display: inline-block;
	float: right;
	width: 24px;
	height: 21px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}

.header__agreements {
	position: absolute;
	width: 116px;
	height: 18px;
	left: 861px;
	top: 26px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}

.header__news {
	position: absolute;
	width: 62px;
	height: 18px;
	left: 779px;
	top: 26px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}

.header__vacancies {
	position: absolute;
	width: 72px;
	height: 18px;
	left: 687px;
	top: 26px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}

.header__services {
	position: absolute;
	width: 74px;
	height: 18px;
	left: 593px;
	top: 26px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}

.header__about {
	position: absolute;
	width: 42px;
	height: 18px;
	left: 531px;
	top: 26px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}